.footer{
    margin-top: 15px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    -webkit-box-shadow: 0px -2px 14px 9px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px -2px 14px 9px rgba(34, 60, 80, 0.26);
    box-shadow: 0px -2px 14px 9px rgba(34, 60, 80, 0.26);
}
.footer__title{
    padding: 20px;
}