/* Основные стили контейнера */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    max-height: 450px;
    margin-bottom: 70px;
    padding: 20px 40px;
}

.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container h2 {
    margin-bottom: 2rem;
    color: #333;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

/* Стили для контейнера с полями ввода */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(210, 189, 112, 0.6);
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
    transition: border 0.25s, background 0.25s;
}

.input-container input:focus {
    border: 2px solid rgba(210, 189, 112, 1);
    background: rgba(255, 255, 255, 1);
    outline: none;
}

/* Стили для кнопки отправки */
button[type="submit"] {
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.25s;
    margin-top: 50px;
}

button[type="submit"]:hover {
    background: linear-gradient(120deg, #fda085 0%, #f6d365 100%);
}

/* Стили для сообщений об ошибках */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 10px;
}

/* Адаптация для мобильных устройств */
@media only screen and (max-width: 768px) {
    .main-container {
        width: 80vw;
        height: auto;
        padding: 20px;
    }
}
